.backgroundArtista {
  position: relative;
  background-position: center;
  opacity: 65%;
  margin:-35px -35px -175px -35px;
  padding: 35px;
  height: 100px;
  filter: blur(5px);
  z-index: 0;

}

.thumbArtista {
  display: flex;
  justify-content: center;
  padding: 50px 25px 0 25px;
  align-items: center;
  margin-bottom: 25px;
  background-position: center;
  z-index: 1;

  .imagemArtistaThumb {
    display: flex;
    justify-content: center;
    background: no-repeat center;
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 100px;
  }

}

.informacoesArtista {
  padding: 15px 25px 15px 25px;
  display: flex;
  flex-direction: column;
  width: 75%;
}


.favoritoArtista {
  margin: 45px 25px 0 20px;
  display: flex;
  justify-content: center;
  background-color: #181818;
  border-radius: 25px;
  padding: 10px;
  align-items: center;
}

.favoritoArtista:hover {
  cursor: pointer;
  background: linear-gradient(to left, #212121, #494949);
  transition-duration: 800.1ms;
  transition-timing-function: cubic-bezier(1, 2, 3, 5);
}
