.backgroundArtista {
  background: no-repeat center;
  background-size: cover;
  opacity: 35%;
  padding: 25px;
  height: 100px;
  z-index: 0;
  filter: blur(7px);
}


.thumbArtista {
  margin-top: -145px;
  width: 100%;
  white-space: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  background-position: center;
  z-index: 2;

  .imagemArtistaThumb {
    display: flex;
    justify-content: center;
    background: no-repeat center;
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 100px;
  }
}



.informacoesArtista {
  margin-right: -50px;
  padding: 15px 15px 50px 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}


.favoritoArtista {
  margin: 45px 25px 0 20px;
  display: flex;
  justify-content: center;
  background-color: #181818;
  border-radius: 25px;
  padding: 10px;
  align-items: center;
}

.favoritoArtista:hover {
  cursor: pointer;
  background: linear-gradient(to left, #212121, #494949);
  transition-duration: 800.1ms;
  transition-timing-function: cubic-bezier(1, 2, 3, 5);
}
