<div class="popup">
  <div class="popup-content">


    <h2 class="tituloPagina">Confirmação</h2>

    <app-bilhete-compra
      [id]="id"
      [designacao]="designacao"
      [limite_vendas]="limite_vendas"
      [custo]="custo"
      [disponivel]="disponivel"
    ></app-bilhete-compra>

    <h5 class="texto">Estás a comprar um bilhete para o evento {{nomeFestival}}.
      Verifica os teus dados e clica em “Confirmar” para gerar uma
      referência de pagamento.</h5>

    <div class="containerCenter">
      <div class="barraDescricaoBilhete">
        <div>
          <a class="tituloBrancoBold"> <h2>Nome</h2> </a>
          <a class="tituloBrancoBold"> <h2>E-mail</h2> </a>
        </div>
        <div class="numerosRef">
          <a class="tituloBranco"> <h2>{{nome}}</h2> </a>
          <a class="tituloBranco"> <h2>{{email}}</h2> </a>
        </div>
      </div>
    </div>

    <div class="barraComprarCancelar">
      <div (click)="comfirmarComprar()">
        <img src="assets/icons/check.png" alt="check">
        <h4>Confirmar</h4>
      </div>

      <span class="close" (click)="closePopup()" >
                    <img src="assets/icons/close.png" alt="close">
                </span>
    </div>
  </div>
</div>
