.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  > img {
    width: 30%;
    margin-bottom: 70px;
  }
}

.login {
  display: flex;
  flex-direction: column;
  width: 80%;

  > input {
    margin: 8px 0 25px 0;
    background-color: gray;
    border-radius: 15px;
    border: gray;
    padding: 10px;
  }
}


.entrar {
  margin: 50px 0 0 0;
  padding: 10px;
  background-color: darkorange;
  border-radius: 15px;
  border: 1px solid darkorange;
}

.entrar:hover {
  scale: 105%;
}

.avisos {
  margin: 15px 0 15px 0;
}
