<div class="container">

  <img src="assets/logo.svg" alt="logo">

  <div class="login">
    <h4 class="tituloLogin">Nome</h4>

    <input class="userName" placeholder="Introduz o teu nome"
           [(ngModel)]="inNome" [ngClass]="{'borderError' : dadosLoginIncorretos, 'noBorder' : !dadosLoginIncorretos}" />

    <h4 class="tituloLogin">E-mail</h4>
    <input class="userEmail" placeholder="Introduz o teu email"
           [(ngModel)]="inEmail" [ngClass]="{'borderError' : dadosEmailIncorretos || dadosLoginIncorretos,
           'noBorder' : !dadosLoginIncorretos ||  !dadosEmailIncorretos}"
    />
  </div>

  <button class="entrar" (click)="login(inNome, inEmail)" >
    <h4>Entrar</h4>
  </button>

  <div class="avisos">

    <div *ngIf="dadosEmailIncorretos" >
      <h4>Email incorreto, preencha com um email válido!</h4>
    </div>


    <div *ngIf="dadosLoginIncorretos">
      <h4>Verifica o preenchimento dos campos!</h4>
    </div>

  </div>



</div>
