.barraArtista{
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  background: linear-gradient(to right, #181818, #323232);;
  padding-right: 20px;
  align-items: center;
  margin-bottom: 25px;

}

.barraArtista:hover{
  box-shadow: 0 2px 0 rgba(38, 38, 38, 0.4);
  scale: 100.5%;
  background: linear-gradient(to right, #000000,  #FF9900);;
  transition-duration: 100.1ms;
  transition-timing-function: cubic-bezier(1,2,3,5);
}

.imagemArtistaBarra{
  background-size: cover;
  background-position: center;
  width: 105px;
  height: 105px;
  border-radius: 50px;
}

.informacoesArtista{
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

}
