<div class="barraArtista" id="timmy">
  <a [routerLink]="'/artista/' + id">
    <div class="imagemArtistaBarra" style="{{imagem}}"></div>
  </a>
  <div class="informacoesArtista">
    <a [routerLink]="'/artista/' + id" class="tituloPrincipal"><h2>{{nome}}</h2></a>
    <a [routerLink]="'/artista/' + id" class="tituloLaranja"><h4>{{designacao}}</h4></a>
    <a [routerLink]="'/artista/' + id" class="tituloBranco"><h4>{{palco}}</h4></a>
  </div>
  <div class="favorito" data-id="timmy" onclick="adicionarRemover('timmy')">
    <img src="assets/icons/heart_open.svg" alt="heart_open">
  </div>
</div>
