<div class="container">

    <div class="barraPesquisa">
        <img src="/assets/icons/nav_search.svg" alt="nav_search"/>
        <input id="campoPesquisa" placeholder="Encontra um festival ou artista..."
               [ngModel]="pesquisa.value" (ngModelChange)="pesquisaClick(); pesquisa.next($event)"/>
    </div>

    <h2 class="tituloPagina">Festivais</h2>

    <app-evento *ngFor="let evento of eventos"
                [id]="evento.id"
                [designacao]="evento.designacao"
                [imagem]="evento.imagem"
                [data]="evento.data"
                [local]="evento.local"
    ></app-evento>

    <h4 class="avisoPesquisa" *ngIf="resultadosEventos">Não existem de eventos</h4>


    <h2 class="tituloPagina">Artistas</h2>

    <app-artista *ngFor="let artista of artistas"
                 [id]="artista.id"
                 [nome]="artista.nome"
                 [estilo]="artista.estilo"
                 [imagem]="artista.imagem"
    ></app-artista>

    <h4 class="avisoPesquisa" *ngIf="resultadosArtistas">Não existem de artistas</h4>

</div>
