<div class="container">

    <div class="barraPesquisa">
        <img class="imagemFestivalBarra" src="/assets/icons/nav_search.svg" alt="nav_search"/>
        <input type="text" id="campoPesquisa" placeholder="Encontra um festival ou artista..."/>
    </div>

    <h2 class="tituloPagina">Festivais</h2>

    <div class="barraFestival" id="sonar2024">
        <a href="festival.html">
            <div class="imagemFestivalBarra" style="background-image: url('../assets/images/sonar_24.jpg')"></div>
        </a>
        <div class="informacoesEvento">
            <a href="festival.html" class="tituloPrincipal"><h2>SONAR 2024</h2></a>
            <a href="festival.html" class="tituloLaranja"><h4>sábado 30 set.</h4></a>
            <a href="festival.html" class="tituloBranco"><h4>Pavilhão Carlos Lopes</h4></a>
        </div>
        <div class="favorito" data-id="sonar2024" onclick="adicionarRemover('sonar2024')">
            <img src="../assets/icons/heart_open.svg" alt="heart_open">
        </div>
    </div>>

    <h2 class="tituloPagina">Artistas</h2>

    <div class="barraArtista" id="nto">
        <a href="artista.html">
            <div class="imagemArtistaBarra" style="background-image: url('/assets/images/nto.jpg')"></div>
        </a>
        <div class="informacoesArtista">
            <a href="artista.html" class="tituloPrincipal"><h2>N'TO</h2></a>
            <a href="artista.html" class="tituloLaranja"><h4>Artista</h4></a>
        </div>
        <div class="favorito" data-id="nto" onclick="adicionarRemover('nto')">
            <img src="../assets/icons/heart_open.svg" alt="heart_open">
        </div>
    </div>

</div>
