.barraFestival {
  display: flex;
  justify-content: flex-start;
  border-radius: 20px;
  background: linear-gradient(to right, #181818, #323232);;
  padding-right: 20px;
  align-items: center;
  margin-bottom: 25px;
}

.barraFestival:hover{
  scale: 100.5%;
  transition-duration: 3.1ms;
  transition-timing-function: cubic-bezier(1,2,3,5);
}

.imagemFestivalBarra {
  background-size: cover;
  background-position: center;
  width: 90px;
  height: 85px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  margin-right: 10px;
}


.informacoesEvento{
  padding: 15px 0 15px 15px;
  display: flex;
  flex-direction: column;
  width: 75%;
  position: relative;
}
